# Build directories
build/CMakeFiles/
build/*.cmake
build/Makefile
build/*.o
build/*.a
build/tp6

# CodeQL
cmake/_codeql_build_dir/
_codeql_detected_source_root

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
